:root {
  --red: #d71920;
  --gold: #d9a11a;
  --white: #ffffff;
  --black: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}